
/* GENERAL RULES */

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    /* DEBUG */
    color: #626262;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #626262;
}

.hlink {
    cursor: pointer;
}

.hlink:hover {   /* hover color white */
    color: #fff;
}

.hlink>a:hover {   /* hover color white */
    color: #fff;
}

.hmusic:hover { /* hover play music */

}

/* WRAPPER RULES */

#wrapper {
    height: calc(100vh - 100px);
    /* DEBUG */
    background-color: blue;
}

#wrapper::after {
    content: "";
    display: table;
    clear: both;
}

/* NAV RULES */

nav {
    float: left;
    width: 250px;
    height: 100%;
    /* DEBUG */
    background-color: black;
}

.nav-container {
    width: 90%;
    height: 100%;
    margin: auto;
    position: relative;
    /* DEBUG */
}

/* LOGO RULES */
#logo {
    display: flex;
    align-items: center;
    height: 100px;
}

#onlyxs {
    display: none;
}

/* MAIN-NAV RULES */
.icon-text-nav {
    padding-bottom: 15px;
}

#logo img {
    width: 70%;
}

.home>a {
    color: #fff;
}

/* PLAYLIST-TAB RULES */
.playlist-tab {
    margin-top: 20px;
}

#playlist-title {
    color: #fff;
    margin-bottom: 15px;
}

#button-playlist>i {
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    color: black;
    background-color: #a3a3a3;
}

#list-playlist { /* SCROLL PLAYLIST */
    /* overflow-y: auto;
    overflow: hidden; */
}

.playlist-name {
    margin-top: 20px;
}

/* PROFILE TAB RULES */
#profile-tab {
    margin-top: 40px;
    position: absolute;
    left: 12,5px;
    bottom: 12px;
    z-index: 100;
    width: 100%;
}

#download-app {
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

#profile {
    padding-top: 10px;
}

#profile>img {
    width: 30px;
    background-color: grey;
    border-radius: 100%;
    vertical-align: middle;
}

#profile>span {
    color: #fff;
}









/* MEDIA NAV X SMALL */
/* @media screen and (max-width: 552px) {

    .nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #xsversion {
        width: calc(100% - 75px);
    }

    nav {
        width: 75px;
    }

    #logo {
        height: auto;
    }

    #onlyxs {
        display: inline-block;
        padding-left: 5px;
    }

    #logo>img {
        width: 20px;
    }

    
    #logonormal {
        display: none;
    }

    .playlist-tab {
        display: none;
    }

    .icon-text-nav>a {
        display: none;
    }
} */








/* ---------------------------------------------------------- */
/* MAIN RULES */

main {
    float: left;
    width: calc(100% - 250px);
    height: 100%;
    overflow-y: auto;
    /* DEBUG */
    background-color: darkgreen;
}

#main-container {
    background-color: #141922;
}

/* UPGRADE BUTTON RULES */
#upgrade { 
    height: 100px;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

#upgrade>a {
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    font-weight: 900;
}

/* CATEGORY RULES */
#category-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.category-content {
    margin-left: 10px;
    margin-right: 10px;
}

.category-content>a {
    font-weight: 900;
}

/* MUSIC SCETION RULES */

.row {
    width: 100%;
    display: flex;
}

#music-section {
    width: 95%;
    margin: auto;
}

.title-main {
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.music-card {
    width: calc(100% / 5);
    padding-right: 20px;
}

.music-image>img {
    width: 100%;
}

.music-card>h2 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.music-card>h5 {
    text-align: center;
    margin-top: 10px;
}

.subtitle {
    margin-bottom: 2px;
}

.for-you>h5 {
    margin-bottom: 30px;
}















/* FOOTER-PLAYER RULES */

footer {
    height: 100px;
    /* DEBUG */
    background-color: red;
    overflow: hidden;
    position: relative;
}